[2018-11-13 09:34] eifinger opened #1 "Support for long lived access tokens"
Can you add support for long lived access tokens? The new and preferred authentication method of hass.

[2018-11-13 09:36] eifinger opened #2 "Support for host without port"
I am running hass behind a reverse proxy, thus I don't need/want a port.
Currently if no one is specified it automatically appends 8123 as the port.

[2018-11-13 16:22] Johboh commented on #1
@eifinger I can look into that (when I have time).  I do support PRs as well 😉

[2018-11-13 16:23] Johboh commented on #2
@eifinger I can add a text-box for that (or you can open a PR)

[2018-11-13 18:30] Johboh commented on #2
@eifinger Or now when I think about it, you always have a port. Just set port 80 in your host, or 443 for ssl.

[2018-12-23 12:47] eifinger commented on #2
It just worked for me, putting :443 to the end

[2018-12-23 12:47] #2 closed

[2019-01-05 13:10] #1 closed

[2019-09-16 20:53] TychoWerner opened #4 "Only syncs for a few minutes after app is closed and only resyncs when app is opened."
The clock state is perfectly synced when I recently opened the hassalarm but when I exit out of the hassalarm app it works fine for a minute or so and then I try and it doesn't sync. It's been 5 minutes now whilst my phone has a connection and it doesn't sync over.

[2019-09-17 16:57] Johboh commented on #4
It should eventually sync, within an hour or so after you have set the alarm. It does not sync directly due to WorkManager scheduling. Can you confirm that it eventually syncs?

[2019-09-17 21:52] TychoWerner commented on #4
Will test it now, set my alarm with the app closed, will check to see if it updated.

[2019-09-17 21:57] TychoWerner commented on #4
/remind me in 8 hours

[2019-09-18 06:42] TychoWerner commented on #4
I’ve let it to sync all night, but it won’t sync with the app closed. The moment I opened hassalarm it goes.

I have a Huawei P Smart

[2019-09-18 15:37] Johboh commented on #4
Ok, then I have to look into it.
And you haven't set it to not allow background work?

[2019-09-25 17:42] TychoWerner commented on #4
Hi @Johboh

I have found Battery Optimization and I have removed HASSAlarm from it and it still seems like it won't update unless the app is in the background.

Will check in about an hour to see if it still has gone thru.

Thanks for making this though.

[2019-09-25 18:59] TychoWerner commented on #4
Waited an hour for it to sync but I haven't gotten it to sync actually.
I have WiFi on and mobile data as well; the second I open the app itself it sync's instantly.

[2019-11-11 15:17] oxan commented on #4
I'm also experiencing this issue. Did you manage to find a solution?

[2019-11-11 15:45] TychoWerner commented on #4
I haven't found a solution yet :/

[2019-11-13 17:03] Johboh commented on #4
Sorry, I haven't had a chance to look at this yet.
@oxan, what device do you have?

[2019-11-13 17:12] oxan commented on #4
I'm using a OnePlus 6, stock firmware, Android 9.

[2019-11-20 04:43] Johboh commented on #4
So I think I know what this is. I'm using a strict policy for the background task to not waste battery, so the job will only run when the device is on wifi and connected to a charger, and then within hours. I can change this so its not that strict.

[2019-11-24 15:13] goosst opened #6 "automation"
Thanks for the very useful app. Do you have suggestions to easily automate the synchronization, in case I forget to start up the app?

e.g.
- would there be a way of not having to push the button "Save and test connection" to synchronize everything? This would allow to start up the app with apps like MacroDroid or Tasker (e.g. every time I get connected to my wifi network, the sync occurs).
- or w

[2019-11-30 12:58] arjenfvellinga opened #7 "Hassalarm does not determine the correct date / time for the upcoming alarm"
Hassalarm does not determine the correct date / time for the upcoming alarm. In case of the settings below it says the next alarm is today (Saturday) at 15:33. I have no (in)-active alarm today or any alarm on that time

Alarms set:
- Monday - Thursday 07:00
- Friday 08:00

Hassalarm version 1.1
Samsung A70
Android 9

[2019-11-30 14:21] Johboh commented on #4
@oxan @TychoWerner
I pushed a new version new that is more aggressive in job scheduling. A job should be scheduled within 1h after changing the alarm clock value.
Also, what alarm clock app are you using?

[2019-11-30 14:23] Johboh commented on #6
@goosst Hi!
The will sync automatically within an hour after you change the/set the alarm clock, or when the alarm clock schedule a new next alarm. I pushed a new version of the app that should do this within 1h after that the alarm clock is changed/set/updated.

[2019-11-30 14:24] Johboh commented on #7
@arjenfvellinga Hi! Is that what it says as well below the "test connection" button?
What if you try setting an alarm in five minutes and then open the app, does it still say the wrong time?

[2019-11-30 15:22] arjenfvellinga commented on #7
Indeed what is shown below the button

When I set a new alarm within 5 minutes and reopen your app, that one is shown correct.

When I then disable that new alarm the next one will be upcoming Monday 7:00. Hassalarm shows the right date but 5 minute too earlier :-)

[2019-11-30 15:28] Johboh commented on #7
@arjenfvellinga What alarm clock app are use using?

[2019-11-30 16:06] arjenfvellinga commented on #7
It's called Clock and from the Galaxy store. The app store of Samsung. It was pre-installed on my phone. Your question lead me to an update of the app, but that didn't solve the problem.

http://apps.samsung.com/appquery/appDetail.as?appId=com.sec.android.app.clockpackage&cId=000004512270

[2019-11-30 16:23] Johboh commented on #7
@arjenfvellinga And what if you disable and then enable your Monday alarm once :)?

[2019-11-30 19:46] arjenfvellinga commented on #7
If I disable the Monday - Thursday 07:00 alarm, the next one would be Friday 08:00, but then Hassalarm thinks the next alarm is 2019-12-02 10:00. And after enabling Monday - Thursday 07:00 it's back to 2019-12-02 06:55

Pretty weird I'd say

I already have the update of your app

[2019-11-30 19:49] Johboh commented on #7
@arjenfvellinga and what if you compare both the time in the request body as well as the returned state payload that you can see when you press the "save and test connection" button in the app? Is that the correct?

[2019-11-30 20:01] arjenfvellinga commented on #7
![image](https://user-images.githubusercontent.com/16539832/69905443-cf869980-13b3-11ea-8f24-872cb0492cab.png)

The result in Home Assistant is indeed a sensor with '2019-12-02 06:55' as the next alarm.

Your previous version of the app was, if I remember correctly, from January. It did work some time after that. I can't pinpoint it when it stopped working. I restarted my Hass setup, also changed

[2019-11-30 20:09] Johboh commented on #7
Interesting. Well, you can work around it if you just adjust for the five minutes on the home assistant side. I have not changed anything with regard to the time in the app, I just use the Android API to get the next scheduled alarm so the OS is reporting that time. I'm guessing the Samsung alarm clock app report a different time then what is set. Can you just try with another alarm clock too see

[2019-11-30 20:20] arjenfvellinga commented on #7
Off set is not going to work. Indeed 5 minutes for Monday - Thursday 07:00, but the offset is different for the Friday alarm.

I just disabled all alarms in Clock, installed Alarm Clock Xtreme with
- Monday - Thursday 07:00 is reported as 2019-12-02 07:00 (correct)
- Friday 08:00 is reported as 2019-12-02 10:00 (incorrect)

So you can't conclude from this if Clock or the API is doing something wro

[2019-11-30 20:24] arjenfvellinga commented on #7
https://eu.community.samsung.com/t5/Galaxy-S9-S9/Pie-Clock-app-bug/td-p/927333

[2019-11-30 20:25] Johboh commented on #7
Aha! Looks like the issue you are having.

[2019-11-30 20:26] Johboh commented on #7
Let's hope they fix it soon. Time will tell...

[2019-11-30 20:27] arjenfvellinga commented on #7
First report in February, so I doubt it will be fixed soon...

Thanks for you time - if it weren't for Samsung / Google to mess it up, I really like the app.

[2019-11-30 20:30] Johboh commented on #7
In the thread you linked, the poster said that using Google Clock worked. You might try that if you haven't already.

[2019-11-30 20:46] arjenfvellinga commented on #7
will try that tomorrow

[2019-12-01 17:06] goosst commented on #6
Great, thanks!

[2019-12-01 17:06] #6 closed

[2019-12-02 08:52] arjenfvellinga commented on #7
The Google Clock indeed does not have the 5 minute off set. That's an improvement. But with only the Friday 08:00 alarm active it still says the next one will be 2019-12-02 10:00.

But then I started thinking, is there another app that does something with alarms? And yes I have a todo app (TickTick) which indeed has a reminder for a task set at 19-12-02 10:00! :-)
I don't think a todo-app should s

[2019-12-02 16:03] Johboh commented on #7
Great! I add my reminders in Google calendar using the reminder function, which does not fiddle with the next alarm setting 😊

[2019-12-02 16:42] arjenfvellinga commented on #7
![unnamed](https://user-images.githubusercontent.com/16539832/69977376-f87d6a80-152a-11ea-948c-4381f1783938.jpg)

Yes, with that setting disabled TickTick is not reporting tasks as alarms!

[2019-12-11 07:35] arjenfvellinga commented on #7
It's working fine now again with the  ^^ TickTick setting disabled and Google's clock app instead of the Samsung one.

[2019-12-11 07:35] #7 closed

[2020-01-07 07:18] weado commented on #4
Hi,
I the same issue on my Samsung S8. after change my alarm time on my phone, I have to lauch the Hassalarm app to send the new information to my HA.
unfortunately, It's the same with your last version.

Do not hesitate if you want some help to try (Sorry I don't know develop)

[2020-01-07 18:43] Johboh commented on #4
@weado can you verify that you don't have any kind of task killer installed? And that you don't have battery optimization enabled for the hassalarm app (i.e disable it for this app)? Did you also wait up to one hour after changing the time? The job is scheduled to run within one hour.
Given the above, can you also test with another alarm clock? For example the Alarm Clock Xtreme or the Google stoc

[2020-01-07 20:26] MrAlfabet opened #8 "Entity not available after HA restart"
After restarting HA it loses the sensor identity of hassalarm until I either turn my alarm on/off, change the time or start the hassalarm app and tap 'save and test'.

As I'm often tinkering with the system after my gf's gone to bed and has set her alarm, this presents a problem.

Is there any way to tackle this?

[2020-01-08 16:47] Johboh commented on #8
Hi!
This is outside of control for the Hassalarm app, and I think this is more a question for the Home Assistant community on how states are kept on restart. I'm guessing https://www.home-assistant.io/integrations/history/ together with https://www.home-assistant.io/integrations/recorder/ might solve this, but I'm not sure.

[2020-01-09 18:37] Johboh commented on #8
I will add support for input_datetime. With that the value will persist.

[2020-01-09 18:55] MrAlfabet commented on #8
Thank you! Any time frame / anything I can do to help?

[2020-01-09 18:57] Johboh commented on #8
I'm done with the implementation, I just need to do some more testing. There will be a release this weekend.

[2020-01-09 18:58] MrAlfabet commented on #8
Awesome! I'll keep my eye on the play store then.

[2020-01-10 15:13] weado commented on #4
Hello,
I'm sorry my last message, but I didn't understand that I need to have to wait a little time (until 1 hour) to HassAlarm send the informations to HA.
Thank you for this app !

[2020-01-10 15:18] Johboh commented on #4
Yes its not obvious :) I will add an "about" section in the app with some documentation.

[2020-01-10 16:08] Johboh commented on #8
@MrAlfabet Version 1.5 is now pushed to Play Store.

[2020-01-10 17:31] MrAlfabet commented on #8
I can't see it yet, but I'll keep an eye on it!

[2020-01-13 22:54] MrAlfabet commented on #8
Do I have to do something special after updating? HA is still not remembering the instance after reboot.

[2020-01-14 15:57] Johboh commented on #8
@MrAlfabet
Can you confirm that:
1. You followed the guide here on how to add an `input_datetime` input: https://github.com/Johboh/hassalarm/blob/master/README.md
1. That you are using the `input_datetime` mode in the hassalarm app by setting the entity ID to the input you created in step 1, that is, `input_datetime.next_alarm` and that the `entity ID is legacy sensor..` toggle is set to OFF.
1. T

[2020-01-14 22:14] MrAlfabet commented on #8
I have not installed History or Recorder, I think I misread your comment

As being that it's working now, even without history and recorder

[2020-01-14 22:30] MrAlfabet commented on #8
I had to change the settings in the app as well, to date_time. instead of sensor. Got it working now, thanks!

[2020-01-14 22:30] #8 closed

[2020-01-15 16:10] Johboh commented on #8
@MrAlfabet great! Sorry for any confusion.

[2020-01-26 00:30] dphoyes opened #9 "Sync the alarm's enabledness"
What's the expected behaviour if I disable all alarms on my phone? If I go into Hassalarm, it says "No next alarm scheduled", but it doesn't perform any successful requests to Home Assistant while in this state. So in Home Assistant, the alarm time stays as it was, as though I hadn't disabled it.

I'm not sure what the sensible thing to do here really is. Perhaps set the alarm time to an arbitrary

[2020-01-26 05:10] Johboh commented on #9
The expected behavior is that it should sync an "empty" time, but it might have stopped functioning since the input_datetime change. I will look into it!

[2020-01-26 08:39] Johboh commented on #9
@dphoyes I pushed a new version with a fix for this now. The input_dateime is set to the default initial value 1970-01-01 00:00:00 which Home Assistant set when the value of an input_datetime is unknown.

[2020-01-26 08:39] Johboh commented on #4
I'm closing this. Please reopen if there are still issues with this and I will look into it.

[2020-01-26 08:39] #4 closed

[2020-02-03 21:58] TheOnlyMunk opened #10 "Can't get to automatically trigger"
The app broadcasts fine and hass updates the next alarm. I can manually trigger the automation, and it does what it's supposed to. But the value template does not seem to work?

I implemented it from the UI and edited until it looked correct (for easier editing in the future)
Here it is:

![image](https://user-images.githubusercontent.com/23356406/73694532-836c1400-46d8-11ea-8093-23088f709afe.png)

[2020-02-04 18:08] Johboh commented on #10
@TheOnlyMunk Hello!
What if you try the statements separately in the template editor/viewer under development tools in hass?
E.g. try:
[code]
And see what they yield. For me they output:
[code]

[2020-02-07 16:56] TheOnlyMunk commented on #10
apparently it works - when I was testing by setting an alarm 1-2 minutes ahead of the current time, I didn't fire, but overnight it did.

[2020-02-07 19:25] Johboh commented on #10
@TheOnlyMunk yes it can take up to an hour until the time is synchronised after the next alarm is changed.

[2020-02-07 20:09] TheOnlyMunk commented on #10
Ahh so that's the thing you meant in the readme. I was confused since i thought it was the app that didn't post within an hour

[2020-02-16 10:08] HusDK opened #11 "Input time/date is 5 minutes before alarm"
First off, great work!!

Is it on purpose the update sent from the app is 5 minutes before the alarm?

[2020-02-16 10:13] Johboh commented on #9
Closing this. Please repoen if this is still an issue.

[2020-02-16 10:13] #9 closed

[2020-02-16 10:15] Johboh commented on #11
@HusDK hi!
Are you using a Samsung device? Then you might be experiencing https://eu.community.samsung.com/t5/Galaxy-S9-S9/Pie-Clock-app-bug/td-p/927333
A solution is to use another alarm clock then the Samsung one, for example the Google alarm clock.

[2020-02-16 10:37] HusDK commented on #11
That was the problem, it works with google alarm clock.
Thanks

[2020-02-16 10:38] #11 closed

[2020-02-18 23:17] dphoyes commented on #9
Forgot to say thanks! It's working perfectly now.

[2020-03-16 17:52] Martinnygaard opened #13 "Can't get automation to trigger"
Hi,

I tried your app and intergtration, however, i ran into some problems.

In **Developer Tools -> States** i can see the next alarm on my phone (correct value)
![image](https://user-images.githubusercontent.com/26490587/76785636-173ffe00-67b6-11ea-84df-2b9250c27f13.png)

When entering the following test code in **Developer tools -> Templates**, i get empty string (a date in 1970):
[code]
I get

[2020-03-16 17:57] Martinnygaard commented on #13
And by the way: i just want to say that your app is just what i needed in Hassio.
Before i used a combination of Tasker and IFTTT to do this - but i'm very confident that once i get this up and running, it will be muchuch more simple!

Great work!

[2020-03-16 18:01] Johboh commented on #13
Hello @Martinnygaard!
Can you confirm that you are actually sending the value from the app as in input_datetime, and not as a generic value? When you go to the configuration in the app make sure that the "legacy sensor" toggle is off. Did you also add the input_datetime sensor in your configuration in Hass?

[2020-03-16 18:02] Johboh commented on #13
As explained here: https://github.com/Johboh/hassalarm/blob/master/README.md

[2020-03-16 20:21] Martinnygaard commented on #13
That fixed it - embarrasing - was sure it was off.....

Now this code "{ states('sensor.date_time') }}" outputs a time for GMT. (I live in GMT+1, and therefor my alarms will trigger and reset one hour before the homeassistant think it's time to trigger.

Do you know how i can adjust it for GMT +1 aswell as summer/winter time?

[2020-03-16 20:25] Martinnygaard commented on #13
This is my configuration.yaml:

![image](https://user-images.githubusercontent.com/26490587/76796830-904a5000-67cc-11ea-86a4-e288e163485c.png)

[2020-03-16 20:28] Johboh commented on #13
@Martinnygaard that I'm unsure of. The sensor.date_time is a Hass date time sensor, maybe the Hass documentation have anything on this? Also, is your Hass host clock showing the correct date and time?

[2020-03-17 15:47] Martinnygaard commented on #13
Okay.. You got me there aswell..

So the status now:
When i set an alarm at 16:40 on my phone, i see 16:40 in the **Developer Tools -> States**.
However, the timestamp (1584463200) is converting to 17:40 (not GMT+1 like my Hassio and phone)

![image](https://user-images.githubusercontent.com/26490587/76874147-0bfcd900-686f-11ea-8405-819f2974445e.png)

i can properly do some math somehow and subtra

[2020-03-18 08:05] Bastiencc opened #14 "Alarm label"
Hi,
Is it possible to also get the alarm label ?
Thanks for the great work !

[2020-03-18 11:27] Johboh commented on #14
@Bastiencc Hello! see a similar question and my answer here: https://community.home-assistant.io/t/automations-based-on-next-scheduled-alarm-on-android-device/78033/40

[2020-03-18 11:34] Johboh commented on #13
@Martinnygaard I will look into this once I'm back from vacation in less than a week (if they let me get home).

[2020-03-18 11:47] Johboh commented on #13
@Martinnygaard this might be helpful: https://community.home-assistant.io/t/input-datetime-automation-wrong-time/144361
Are you using True or False as the last argument to the timestamp_custom(,) function?

[2020-03-18 12:53] Bastiencc commented on #14
too bad :(

[2020-03-18 12:53] #14 closed

[2020-03-18 15:09] Martinnygaard commented on #13
That worked - it was true, and therefore comparing your timestamp to my local time.
Changing that to false, it must go back to GMT timzone (i guess) which your apps also sends (at least in the timestamp)

Thanks!
And enjoy your vacation.

[2020-03-18 15:09] #13 closed

[2020-03-19 14:26] Profil404 opened #15 "Manage multiple device ?"
Hi,

First thanks you for your app, this is the best and easiest way to sync my alarm with HA. With 1 device it work great but... any solution to use it with more than one device ? Like this:

- input_datetime.user1_next_alarm
- input_datetime.user2_next_alarm

It would be great, and with this feature we can make automation depending the user.

Benjamin

[2020-03-19 14:30] Johboh commented on #15
@Profil404 hello!
Yes that should work. Add two input_datetime in your Hass configuration with different names (like you suggested above), and then just configure the same different Entity IDs in the app on the different devices.

[2020-03-19 14:37] Profil404 commented on #15
I'm stupid, I forgot that we could change the entity on the application...

This app is more amazing than I thinked :D

Keep going and be safe ;)

[2020-03-19 14:53] Profil404 commented on #15
Mmmm' it's seem there is a bug with multiple device, only the first in the configuration file work, the following don't appear in the list of entities

[2020-03-19 14:55] Johboh commented on #15
@Profil404 you mean only the first one shows up in Hass? How does your input_datetime Hass configuration looks like? Did you restart Hass?

[2020-03-19 14:57] Profil404 commented on #15
Yes, this is part of my configuration file:

input_datetime:
  gm1913_next_alarm:
    name: Téléphone de Benjamin - Prochaine alarme
    has_date: true
    has_time: true
  oneplus_a6010_next_alarm:
    name: Téléphone de Noémie - Prochaine alarme
    has_date: true
    has_time: true

Of course I restarted HA after the change.

EDIT: Solved, browser cache history, thanks for your reactivity.

[2020-03-19 14:57] #15 closed

[2020-03-19 15:02] Johboh commented on #15
@Profil404 great!

[2020-03-22 13:15] Johboh commented on #10
@TheOnlyMunk Can I close this one?

[2020-03-26 06:54] fourtrax01 opened #16 "Won't work I think I have an issue with 12h vs 24 hr clock time"
My automations won't trigger even though my next alarm is being updated and my date & time is correct, what I think may be the issue is that my alarm times reports as 8:30 AM and my date & time sensor is reporting on a 24 hour clock without Am/Pm so they never truly match and the automation never fires. Is there a way I can fix this?

[2020-03-26 07:15] Johboh commented on #16
@fourtrax01 Hello!
Are you using the legacy sensor or the input_datetime sensor?

[2020-03-26 12:32] fourtrax01 commented on #16
Input_datetime.sensor

[2020-03-26 12:40] Johboh commented on #16
@fourtrax01 What value do you see for the input_datetime when looking at it in hass? And how does your automation look like? Make sure you are comparing the current time using the correct time format.

[2020-03-26 12:48] fourtrax01 commented on #16
This is my value template from my automation, I don't know jinja so I just copied yours.
"{{ states('sensor.date_time') == (state_attr('input_datetime.next_alarm', 'timestamp') | int | timestamp_custom('%Y-%m-%d, %H:%M', True)) }}"

[2020-03-26 12:52] fourtrax01 commented on #16
Date & Time
2020-03-26, 05:51

[2020-03-26 12:55] fourtrax01 commented on #16
![Screenshot_20200326-055432](https://user-images.githubusercontent.com/40325979/77649039-5b55a000-6f26-11ea-9955-503ced450921.png)

[2020-03-26 13:07] Johboh commented on #16
Can you paste these in the template editor to get the values:
[code]

[2020-03-26 13:13] fourtrax01 commented on #16
![Screenshot_20200326-061139](https://user-images.githubusercontent.com/40325979/77650522-dcae3200-6f28-11ea-9e07-65d8ed87e1a9.png)

[2020-03-26 13:16] Johboh commented on #16
And what is your time now? 6:10am or 6:10pm :)?
and your alarm is set to 8:30am?

[2020-03-26 13:21] fourtrax01 commented on #16
![Screenshot_20200326-062046](https://user-images.githubusercontent.com/40325979/77651442-09af1480-6f2a-11ea-980a-4657fe219afe.png)

[2020-03-26 13:22] fourtrax01 commented on #16
6:21 am  alarm set for 8:30 am

[2020-03-26 13:26] fourtrax01 commented on #16
Does it matter that the date is formatted differently as well? My alarm reports March 26, 2020 not 2020-03-26 add the date

[2020-03-26 13:28] Johboh commented on #16
And what if you set an alarm for one minute a head, open the hassalarm app and go in to "Test Connection" to force push a new value, then add these to the template editor:

[code]

[2020-03-26 13:41] fourtrax01 commented on #16
![Screenshot_20200326-064038](https://user-images.githubusercontent.com/40325979/77653303-c1452600-6f2c-11ea-9c06-5cdfaa379e3b.png)

[2020-03-26 13:42] Johboh commented on #16
Well you have to wait until 06:42 before your do the evaluation :)

[2020-03-26 13:45] fourtrax01 commented on #16
My alarm went off but the automation didn't trigger

[2020-03-26 13:46] fourtrax01 commented on #16
Is the value template for my automation wrong?

[2020-03-26 13:47] Johboh commented on #16
I want you to evaluate the expressions I posted above in the template editor during the same minute that your alarm is set to trigger, and see if any of the four expressions evaluates to True.

[2020-03-26 13:49] fourtrax01 commented on #16
Then I will have to do it on my computer a little later I can't copy and paste fast enough from my phone to get it all done in a minute. I'll try it out when I actually get up.
Thanks I'll let you know

[2020-03-26 13:53] fourtrax01 commented on #16
![Screenshot_20200326-065255](https://user-images.githubusercontent.com/40325979/77654603-80e6a780-6f2e-11ea-89d4-04623d02a609.png)

[2020-03-26 13:55] Johboh commented on #16
Still the time is not aligned :). 06:51 vs 06:52

[2020-03-26 16:45] fourtrax01 commented on #16
![IMAG1309](https://user-images.githubusercontent.com/40325979/77672810-949e0800-6f46-11ea-812d-c41860a6cea4.jpg)

[2020-03-26 16:46] fourtrax01 commented on #16
Still false

[2020-03-26 16:49] Johboh commented on #16
The problem now is because the alarm is set for tomorrow and not for today 😊. If you look at the date.

[2020-03-26 16:57] fourtrax01 commented on #16
![IMAG1310](https://user-images.githubusercontent.com/40325979/77674048-3bcf6f00-6f48-11ea-9781-bafa4df95bdb.jpg)

[2020-03-26 17:12] fourtrax01 commented on #16
The very second the alarm goes off home assistant changes the next scheduled alarm date for the next day, why? Those were one time alarms not recurring ones.

[2020-03-26 17:32] Johboh commented on #16
Make sure you set an alarm which is not a repeated alarm.

[2020-03-26 17:39] fourtrax01 commented on #16
It was not a repeated alarm

[2020-03-28 07:36] fourtrax01 commented on #16
I turned off all other alarms set on my phone and turned battery optimization on for hassalarm app and finally got in to read true.
![IMAG1316](https://user-images.githubusercontent.com/40325979/77817983-26fbf400-708c-11ea-97f2-d28451c06318.jpg)

[2020-03-28 08:01] #16 closed

[2020-04-15 08:19] dverha opened #17 "Connection failed - Trust anchor not found"
Hi,

First of all, thanks for this great app. It has been working flawlessly for me before, however since I moved my Home Assistant (Hass.io) to my Synology NAS it is not working anymore.

I created a new Long-Lived Access Token and updated the server address accordingly but got the following error:

The connection itself is working and also the Long-Lived Access Token works in Tasker.

Any idea w

[2020-04-15 13:38] Johboh commented on #17
Hello!
It looks like some Android client certification issue. What device are you using and OS? Also is your time and date correct?
And do you use https? Do you need to use https :)?

I'm guessing that Tasker is ignoring invalid certificates.

[2020-04-16 19:04] dverha commented on #17
Hi!
I have a Samsung S10 (stock OS) and time/date is correct. I also have the same problem on my girlfriends phone (Moto G5+) so I assume it has something to do with the new Hass.io installation on my Synology.

I am using https (letsEncrypt) as I want to access Hass.io from outside my network. Is there a way I can let HassAlarm connect locally someway? I am unable to access HomeAssistant locally

[2020-04-16 20:20] dverha commented on #17
Hello again,
I solved it by using DuckDNS again instead of a certificate created by my Synology.
Tickets can be closed!

[2020-04-29 15:14] #17 closed

[2020-06-30 19:26] Hooolm opened #18 "Android app does not auto update unless open."
I am not sure how you want to track this on github. I would suggest linking to this in your readme.
https://support.google.com/pixelphone/thread/6068458?hl=en (or write your own guide).

My OnePlus 8 Pro kills the background service after a few minutes rendering the app useless unless you grant it "special allowance".

[2020-06-30 19:27] Hooolm commented on #18
Also you need to reopen the app after a reboot it seems.

[2020-07-01 16:57] Johboh commented on #18
@Hooolm I recall fixing the "reopen after reboot", but I will look into it again, thanks for pointing it out. And thanks for the link, will add it to the readme/help!

[2020-07-04 09:54] magicdave1 opened #19 "Showing alarm when none is"
Sometimes Hassalarm gets an alarm which is not set (see both screenshots). I am using the Google alarm clock app on Samsung S10e.

![Screenshot_20200626-085108_Clock](https://user-images.githubusercontent.com/14841376/86510079-0bbc2580-bded-11ea-81d4-21f18c59fd04.jpg)

![Screenshot_20200626-085100_Hassalarm](https://user-images.githubusercontent.com/14841376/86510083-137bca00-bded-11ea-9020-414416

[2020-07-04 10:51] Johboh commented on #19
Hej @magicdave1!
The most common reason for this is that there is another app (calendar app, reminder app, etc) that also publish itself as a "next alarm". Do you have any reminders set?

[2020-07-04 12:50] magicdave1 commented on #19
Hi @Johboh, thanks for your quick reply!
Actually I do have calendar reminders set. I just tested it and it showed that must have been it that set the next alarm. Any ways to exclude calendars from this?

[2020-07-04 13:42] Johboh commented on #19
@magicdave1 What calendar are you using?
The OS API to get the next scheduled alarm clocks that Hassalarm is using in supposed to be used by alarm clocks only, but some non alarm clock apps also abuse this. I will investigate if its possible to figure out what app that actually set the alarm (might use https://developer.android.com/reference/android/app/AlarmManager.AlarmClockInfo#getShowIntent())

[2020-07-04 15:09] magicdave1 commented on #19
@Johboh I am using the Google calendar app, so nothing extraordinary. It would be great if your possible solution would work.

[2020-07-04 15:24] Johboh commented on #19
I do as well, but if I add a reminder in Google Calendar, its not detected by the app. Is it some custom samsung google calendar app?

[2020-07-04 15:44] magicdave1 commented on #19
That's weird. It is the regular app without any customization from Samsung.

![Screenshot_20200704-174312_Calendar](https://user-images.githubusercontent.com/14841376/86516081-01fee600-be1e-11ea-9515-53f705473f3c.jpg)

![Screenshot_20200704-174318_Hassalarm](https://user-images.githubusercontent.com/14841376/86516086-0a572100-be1e-11ea-9894-2339b050af05.jpg)

[2020-07-05 19:17] magicdave1 commented on #19
@Johboh Just let me know if I can test something or give you more informations

[2020-07-10 21:17] benblb commented on #7
I'm experiencing the calendar issue. I use a Galaxy S10 with Google Calendar. I cleared Samsung Calendar data and took away its permissions to see cal events, but my "next alarm" is a calendar event reminder.

Any tips?

[2020-07-10 22:40] benblb commented on #19
This is happening to me as well. I removed all permission from Samsung Calendar app (it sees no events). This app seems to be picking up Google Calendar Events.

[2020-07-11 04:56] Johboh commented on #7
@benblb let's continue in https://github.com/Johboh/hassalarm/issues/19!

[2020-07-11 04:59] Johboh commented on #19
Looks like it's a Samsung issue:
https://us.community.samsung.com/t5/Galaxy-S10/Alarm-widget-shows-wrong-time-for-next-alarm/td-p/1189464
Related: https://eu.community.samsung.com/t5/mobile-apps-services/stock-alarm/td-p/1021438

I will look into adding a "ignore list" to ignore next scheduled alarms from specific apps, if possible.

[2020-07-11 05:59] benblb commented on #19
Ah makes sense, thanks for checking it out and looking into a solution! Just wrote a Node-RED flow for waking my Hue lights today and this would allow me to get my alarm times in easily... Except for the Samsung hardware :p

PS apologies for double commenting for the same issue. A Google search landed me on the other & when I commented here I forgot to remove my comment on the other.

[2020-07-11 06:37] Johboh commented on #19
@benblb @magicdave1 I just pushed a new version to Play Store with a very quick and dirty implementation where one can ignore certain apps from being reported. E.g. you can ignore the calendar app. Its added behind the "dotdotdot"/toolbar menu -> Ignore apps. Let me know how it works.

[2020-07-12 11:05] magicdave1 commented on #19
@Johboh it said that the next alarm is from an ignored app but unfortunately that alarm triggered again my lamps to turn on.

[2020-07-12 11:08] Johboh commented on #19
@magicdave1 did you just ignore the app or have you had it running for a while? My guess is that it had already published the value before the ignore was added.

[2020-07-13 01:15] benblb commented on #19
@Johboh I've been away from my laptop for a couple days, but WOW!!! So fast, thanks very much :) The fix worked great for me. If the next alarm is from an ignored app, it doesn't send anything. Once the next alarm is from a non-ignored app, it sends the trigger. My test will be tomorrow morning's alarm. Just completed my Node Red Hue wakeup flow.

[2020-07-13 10:53] magicdave1 commented on #19
@Johboh you were right with your guess. It is now perfectly working. Thank you so much for implementing this feature.

[2020-07-13 10:53] #19 closed

[2020-07-13 16:50] Johboh commented on #19
@magicdave1 @benblb great! Let me know if you run in to any issues. I'm going to look over the implementation and improve it slightly as well.

[2020-12-17 06:55] Fahrenheit92 opened #20 "Unable to connect with SSL self signed certificate"
![Screenshot_20201217-074627~2](https://user-images.githubusercontent.com/15697480/102453754-24d42e00-403d-11eb-8ce8-95cbf903129c.png)

The following issue is occuring when trying to connect to my HA Instance via SSL using self signed certificates. Both the Root and Intermediate CA are installed in Android and Chrome showes the connections certificates as valid. Is there any remediation for that i

[2020-12-17 07:07] Johboh commented on #20
Hey!
A bit of googling hints that this might be issues with the self signed certificates.
Do you see any logs on home assistant side?
I'm using the app with https and certs from letsencrypt (using traefik reverse proxy)

[2020-12-17 07:08] #10 closed

[2020-12-17 07:09] Johboh commented on #20
@Fahrenheit92 https://github.com/Johboh/hassalarm/issues/17

[2020-12-17 09:14] kgd192 commented on #20
I will check the logs, just fyi the Homeassistant Android app started working properly with the same SSL Connection when I imported the Root and Intermediate CAs into Android so the actual Certificate could be verified as valid

EDIT: Nothing suspicious in the Server Logs. For me it looks like hassalarm is not taking user imported CAs/Certificates into account when validating the connection?!

[2020-12-17 09:59] Johboh commented on #20
Hmm, I will take a look in the coming days!

[2020-12-17 10:02] abelmatser opened #21 "Incorrect timestamp"
I believe there is a bug, but I'm unsure if it is due to Hassalarm or HA.

I have two sensors: input_datetime.next_alarm - through Hassalarm -, and sensor.abelphone_next_alarm - through the app. They both sync my alarm time with HA and the times match, see pic 1.

However, I believe there is an error when converting it to a timestamp (see pic 2), they lead to different values. The required value i

[2020-12-17 10:56] kgd192 commented on #20
Thank you very much in advance, I will have a glance over the source code myself, unfortunately i am not very familiar with the Android API

[2020-12-18 13:10] Johboh commented on #21
I'm looking into this. Instead of sending a formatted date, Hassalarm will send the unix timestamp (UTC) for the next alarm, e.g. not doing anything about timezones (as this is the only thing that the Android API provides). E.g. the `timestamp` as reported by the input_datetime.
The 40 minutes is weird, however. What does Android OS show as next alarm? (in the notification area)

[2020-12-18 13:36] Johboh commented on #20
@Fahrenheit92 Pushed a new version (1.17) just now, please test with that one.

[2020-12-18 13:36] Johboh commented on #21
@abelmatser Also, what does it say as "next scheduled alarm" when you open the Hassalarm?

[2020-12-18 14:31] abelmatser commented on #21
The "next scheduled alarm" when opening Hassalarm does show the correct time: 08:05 and is published successfully.
I can not easily find the next alarm of my device, but when checking my stock Clock app, it shows no alarm is enabled. The app I use (Amdroid) does show 08:05.

I believe sending the unix timestamp for the next alarm should do the trick. Let me know when there's an update I could test

[2020-12-18 14:33] Johboh commented on #21
I have pushed a new version 1.17, that does this. Can take a couple of hours to propagate.

[2020-12-18 14:37] kgd192 commented on #20
@Johboh SSL Error seems to be fixed. I am now stuck with an Error 400, but I will investigate a bit this seems to be an error on my server side. Will keep you posted

Tanks

[2020-12-18 14:41] abelmatser commented on #21
I just installed update 1.17.

In Hassalarm, in the Connection test (successful), under request body, it says:
{"entity_id":"input_datetime.next_alarm","timestamp":1608534300}

But this timestamp does not correspond with the reported timestamp in HomeAssistant (attached picture). This is weird to me. HA should not change the timestamp, even if I would be in a strange +40 minutes timezone.
![ha_nex

[2020-12-18 14:59] Johboh commented on #21
Yeah, it's weird that the published timestamp differs from the Hass one. What time zone do you have in home assistant?

[2020-12-18 15:04] abelmatser commented on #21
The timezone is Europe/Amsterdam. I just checked the alarm that android thinks I have through AutoAlarm, and that is the correct 08:05.

If you can not recreate this bug, then maybe just leave it, as it could be some random hiccup in Home Assistant as well. For now I'll resort to the reported alarm time through the official HA app.

[2020-12-18 15:12] Johboh commented on #21
Is this a new issue? Eg. did it start just now or was it always like this?
I don't think the issue is in Hassalarm as the app reports the correct time (7.05 UTC). Also 40 minutes off is weird 😊. Will Google a bit.

[2020-12-18 15:52] abelmatser commented on #21
Yeah it is weird.. Nope, it started this weeks Monday or Tuesday, before
that it functioned perfectly.

On Fri, 18 Dec 2020, 16:12 Johboh, <notifications@github.com> wrote:

[2020-12-18 15:53] abelmatser commented on #21
That could coincide with me updating to HA 2020.12.0. I just updated to
2020.12.1, maybe that changes things, gimme a sec.

On Fri, 18 Dec 2020, 16:52 Abel Matser, <abelmatser@gmail.com> wrote:

[2020-12-18 15:54] Johboh commented on #21
Did you upgrade home assistant by any chance?
The weird part is that the time is still correctly shown for the input datetime, eg the converted timestamp  correctly to 8.05, even when the timestamp is wrong.

[2020-12-18 16:22] kgd192 commented on #20
EDIT: Only happens in "Test Connection" when no actual Alarm is set! Actual App Functionality is NOT affected, works as advertised ;)

@Johboh So it seems like something is wrong with the request send, this is whats send in "input_datetime"-mode

![Screenshot_20201218-171536](https://user-images.githubusercontent.com/15697480/102636843-71ab2800-4155-11eb-8e67-560391c47244.png)

and this is the req

[2020-12-18 16:26] Johboh commented on #20
@Fahrenheit92 yes, looks like it fails when there is no next alarm set. I will fix that. In the meantime, try setting a next alarm and try again.

[2020-12-18 16:27] kgd192 commented on #20
Sorry, already edited :D Yes this is the issue, furthermore, when the alarm is switched off the input_datetime on HA is not cleared, i.e. remains the last published.

[2020-12-18 16:28] abelmatser commented on #21
Jackpot! Updating to 2020.12.1 fixed it for me. Looking at the changes, i noticed [this issue](https://github.com/home-assistant/core/issues/44227). That must be the one. Thanks for trying to look at the problem with me.

[2020-12-18 16:28] #21 closed

[2020-12-18 16:28] Johboh commented on #20
Yes, its because the request fails. Will fix :)

[2020-12-18 16:32] Johboh commented on #21
@abelmatser Great!

[2020-12-18 16:33] Johboh commented on #20
@Fahrenheit92 I pushed an 1.18 version now, will take some hours to propagate. Works locally here for me, let me know how it works for you.

[2020-12-18 17:28] kgd192 commented on #20
@Johboh Works like a charm
Thanks for the quick support!

[2020-12-18 17:28] #20 closed

[2020-12-18 17:29] Johboh commented on #20
Great!

[2020-12-23 00:57] JoachimVeulemans opened #22 "Alarm in the same hour is in UTC format and not in GMT+1"
I'm having an issue with the time format. I think there is an error with formatting it to UTC. I have updated to the latest version of the app. The issue was already there with the previous version.

Time of testing: 01:20 local time or 00:20+1 (GMT+1)

Alarm in phone: --- Value in HA:
01:50 / 00:50+1 --- 01:50+1      <-- Incorrect
02:50 / 01:50+1 --- 01:50+1
03:50 / 02:50+1  --- 02:50+1
04:50 / 0

[2020-12-23 05:28] Johboh commented on #22
@JoachimVeulemans hey!
Make sure you are running the latest version of Home Assistant (see second to last entry here https://github.com/Johboh/hassalarm/issues/21) and that you are using the input_datetime mode.

[2020-12-23 13:01] JoachimVeulemans commented on #22
I'm using 2020.12.1. This is my configuration in the app.

![Screenshot_2020-12-23-13-39-57-094_com fjun hassalarm](https://user-images.githubusercontent.com/32447944/102998307-34fd7900-4527-11eb-9084-b9d1858f3289.jpg)

[2020-12-23 13:16] Johboh commented on #22
@JoachimVeulemans Is this something new you are experiencing?
HA stores the value for the input_datetime in UTC. E.g. the timestamp you see in home assistant when checking the datetime, it shows the UTC timestamp.
Here is an example where I at 14:10 set the next alarm to 14:25 and publish it:
![image](https://user-images.githubusercontent.com/4701462/102999310-126c5f80-4529-11eb-9560-1d49c213cabe.

[2020-12-23 13:16] Johboh commented on #22
The first screen is from the log console in "test connection" in Hassalarm, whereas the second one is from state view in HA.

[2020-12-23 13:33] JoachimVeulemans commented on #22
I've always had problems with this issue. The next screenshot is what I get when I set my alarm to 14:39 or 15:39. I have no way of knowing which hour it actually is. So it's UTC the first time and GMT+1 the second time.

<img width="416" alt="Schermafbeelding 2020-12-23 om 14 30 25" src="https://user-images.githubusercontent.com/32447944/103000476-6d9f5180-452b-11eb-86db-c0c8d9f2cfdd.png">

[2020-12-23 13:42] Johboh commented on #22
@JoachimVeulemans But this is not an input_datetime, it's a sensor. Can you look at the `input_datetime.next_alarm`, the one shown in the screenshot you posted for Hassalarm?

[2020-12-23 13:47] Johboh commented on #22
@JoachimVeulemans Can you show me the output of the "Test connection" log in Hassalarm?
You can right-click and do "Copy anonymous log" to not include private keys and such.

[2020-12-23 13:47] JoachimVeulemans commented on #22
I don't see this sensor?

<img width="431" alt="Schermafbeelding 2020-12-23 om 14 46 19" src="https://user-images.githubusercontent.com/32447944/103001636-b2c48300-452d-11eb-8f08-1294fdbad82b.png">

[2020-12-23 13:47] Johboh commented on #22
It will look something like this:
[code]

[2020-12-23 13:49] JoachimVeulemans commented on #22
![Screenshot_2020-12-23-14-48-52-218_com fjun hassalarm](https://user-images.githubusercontent.com/32447944/103001846-151d8380-452e-11eb-8f55-08b39a4f049a.jpg)

[2020-12-23 13:51] JoachimVeulemans commented on #22
Using long lived token
Entity ID is of type input_datetime
Request: POST <host>/api/services/input_datetime/set_datetime

Request headers: Authorization: Bearer <token>

Request body: {"entity_id":"input_datetime.next_alarm","timestamp":1608731580}

[2020-12-23 13:53] Johboh commented on #22
@JoachimVeulemans And do you have `input_datetime.next_alarm` declared in your configuration.yaml file, as specified here? https://github.com/Johboh/hassalarm#home-assistant-setup

[2020-12-23 13:53] JoachimVeulemans commented on #22
I get the same timestamp in the log for different hours (15:53 and 16:53) 17:53 gives this:

Using long lived token
Entity ID is of type input_datetime
Request: POST <host>/api/services/input_datetime/set_datetime

Request headers: Authorization: Bearer <token>

Request body: {"entity_id":"input_datetime.next_alarm","timestamp":1608738780}

[2020-12-23 14:00] Johboh commented on #22
@JoachimVeulemans The sensor in https://github.com/Johboh/hassalarm/issues/22#issuecomment-750302440 is not from Hassalarm, but from somewhere else (unless you are using the legacy sensor). Are you using the next alarm function in the Home Assistant Android app?

For Hassalarm, make sure you have the input_datetime sensor added https://github.com/Johboh/hassalarm#home-assistant-setup and then make

[2020-12-23 14:01] Johboh commented on #22
@JoachimVeulemans The value reported is the raw value reported by the Android OS. the next alarm will be the one reported by the alarm clock app. If you get the same timestamp for two different times, make sure you actually removed the first one, and that you gave it some time to update (by the alarm clock app).

[2020-12-23 14:02] JoachimVeulemans commented on #22
It was not in my configuration, it is now but the same problem remains

[2020-12-23 14:08] JoachimVeulemans commented on #22
I'm using the next alarm function. The entity (input_datetime.next_alarm) is showing up. Legace sensor is disabled. When I set a new alarm, I change the minutes so I know when it's updated. The minutes update but the hour doesn't because it's the same for an alarm in 60 minutes or the next hour.

Is it possible there is a conversion error to UTC when the alarm is less than 60 minutes away?

[2020-12-23 14:16] Johboh commented on #22
@JoachimVeulemans When you say "next alarm function", do you mean the next alarm function in the Home Assistant Android app (i.e. not the Hassalarm)?

[2020-12-23 14:25] JoachimVeulemans commented on #22
It's both set up I think, but both having the same problem. But now I'm trying to debug the problem with the Hassalarm app.

[2020-12-23 14:26] Johboh commented on #22
@JoachimVeulemans Can you set an alarm within 60 minutes and show me the log from "Test connection", and then also a screenshot from the `input_datetime.next_alarm` state in Home Assistant.

[2020-12-23 14:29] JoachimVeulemans commented on #22
[code]
<img width="431" alt="Schermafbeelding 2020-12-23 om 15 27 48" src="https://user-images.githubusercontent.com/32447944/103007294-6ed47c80-4533-11eb-9c8b-f1079bb4cb69.png">

[2020-12-23 14:37] Johboh commented on #22
@JoachimVeulemans So that looks correct, right?

[2020-12-23 14:43] JoachimVeulemans commented on #22
When I select an alarm between 60 minutes and 120 minutes from now, the hour is the same. Thus the timestamp is also the same but should not.

[2020-12-23 14:47] Johboh commented on #22
@JoachimVeulemans Make sure you don't have any alarm set.
Verify that by opening Hassalarm and see that it says "no next alarm set".
Run the Test Connection and verify that the `input_datetime.next_alarm` in Home Assistant is set to `timestamp: 1` and year `1970`
Then set an alarm between 60 and 120 minutes from now.
Paste the log from "Test connection", and then also a screenshot from the `input_

[2020-12-23 14:53] JoachimVeulemans commented on #22
[code]

![Screenshot_2020-12-23-15-49-55-945_com android deskclock](https://user-images.githubusercontent.com/32447944/103009314-e7890800-4536-11eb-9f0f-0d13985ffb53.jpg)

[code]

<img width="431" alt="Schermafbeelding 2020-12-23 om 15 51 44" src="https://user-images.githubusercontent.com/32447944/103009267-c7594900-4536-11eb-9129-4a5ac8b4f6e9.png">

[2020-12-23 14:59] Johboh commented on #22
@JoachimVeulemans Given the same scenario, what does Android OS report as next alarm? E.g. the one you see in the top of the notification area when you pull it down:
![image](https://user-images.githubusercontent.com/4701462/103009930-c83eaa80-4537-11eb-8089-b91b4891527b.png)

What alarm app are you using? And what does Hassalarm report as next alarm on the main screen?

[2020-12-23 15:05] JoachimVeulemans commented on #22
It's a build in Xiami alarm app. Circled in blue is correct, Circled in Orange is incorrect.

![IMG_20201223_160356.jpg](https://user-images.githubusercontent.com/32447944/103010416-9ed24e80-4538-11eb-99c0-04421e1f75da.jpg)

![IMG_20201223_160329.jpg](https://user-images.githubusercontent.com/32447944/103010425-a42f9900-4538-11eb-8359-dc0a3f6918f4.jpg)

[2020-12-23 15:09] Johboh commented on #22
@JoachimVeulemans Can you just try a different alarm clock app, to rule out that the alarm clock is faulty? This one: https://play.google.com/store/apps/details?id=com.google.android.deskclock

[2020-12-23 15:11] Johboh commented on #22
Looks like this is an issue with the Xiaomi Alarm clock app:
https://community.openhab.org/t/xiaomi-miui-alarm-clock-sending-wrong-epoch-value/90734
https://c.mi.com/thread-2585135-1-0.html

[2020-12-23 16:42] JoachimVeulemans commented on #22
Yeah, I installed the Google one and that works perfect. The issue is on Xiaomi's side. Sorry to bother you. Issue can be closed now! Thanks for your help!

[2020-12-23 16:42] #22 closed

[2020-12-23 16:45] Johboh commented on #22
Great!

[2021-01-04 20:59] thedevleon commented on #22
Maybe you could add this to the troubleshooting part? I was pulling my hair out why everything was one hour behind, and it is indeed the xiomi alarm clock. Everything works correctly with the google clock app.

[2021-01-05 04:43] Johboh commented on #22
That is a great idea @thedevleon, I will do that.

[2021-01-05 20:01] goosst opened #23 "stopped working"
Hello,

I have something very strange, the app worked fine but stopped working for some reason on 19 december.
Now, if I try to replicate what's in the log in python on my laptop it doesn't work either ...

[code]

This leads to '400: Bad Request' (same messages as on my phone).

However, if I change the payload to `payload='{"entity_id": "input_datetime.next_alarm","datetime": "2020-01-06 06:31:2

[2021-01-05 20:09] Johboh commented on #23
Hello!
What version of Home Assistant are you using?
In your example above, the timestamp value should be an integer and not a string. Eg: `payload='{"entity_id": "input_datetime.next_alarm","timestamp": 1609911060}' ` and not `payload='{"entity_id": "input_datetime.next_alarm","timestamp": "1609911060"}'`

[2021-01-05 20:18] goosst commented on #23
Hello

thanks for the quick reply.
I'm using Home Assistant 0.112.5

I've tried these three payloads:
[code]
only the first one doesn't throw the 400 error.

You start to miss this app quickly :+1:

[2021-01-05 20:29] Johboh commented on #23
@goosst 0.112 is quite an old home assistant release, can you try upgrading to any of the 2020.x versions? Eg 2020.12.1 or newer.

[2021-01-05 20:46] goosst commented on #23
Maybe if it's a rainy weekend and I can fix all things that break while upgrading ;)

[2021-01-06 13:00] Johboh commented on #23
@goosst Yes sorry! I always read the breaking changes in the release logs and upgrade often to keep it from breaking too much :). But I understand the hassle. I also keep all configuration files in git, and run hass in a docker container, so if something breaks to much I can just roll back.

[2021-01-06 13:25] sikaiser opened #24 "Next alarm always showing as January 1, 1970, 12:00 AM"
I just set it up the first time, and feel like I did everything correctly according to the readme, but I'm not getting the proper alarm time and date in home assistant.

![grafik](https://user-images.githubusercontent.com/17196288/103772983-a90d4600-502a-11eb-87ac-2d71e138b41c.png)

My `configuration.yaml`

[code]

My `automations.yaml` (for webhook).
Note, I haven't created any automation to use

[2021-01-06 13:28] Johboh commented on #24
Hey!
I think your webhook should be:
[code]
E.g. `timestamp` instead of `datetime`, as that is what is published from the app (if you check the app logs).
Also, what version of Home Assistant are you using?

[2021-01-06 13:30] Johboh commented on #24
Or maybe even:
[code]

[2021-01-06 13:30] Johboh commented on #24
E.g. `timestamp: {{ trigger.json.timestamp}}` instead of `timestamp: "{{ trigger.json.timestamp}}"`

[2021-01-06 13:41] sikaiser commented on #24
Thank you! It works with the "", as per your first reply.

And now I got so confused as to why I even did it differently from how you outline it in the readme, but I see you've just already updated it. Awesome!

[2021-01-06 13:41] #24 closed

[2021-01-06 13:42] Johboh commented on #24
@sikaiser Yes I realized that you got it from the Readme and that the Readme was wrong, sorry :)

[2021-01-08 18:32] goosst commented on #23
upgrade went smooth ... I can confirm hassalarm is working now

[2021-01-09 08:14] Johboh commented on #23
@goosst great to hear that you had some rain. I'm closing this now.

[2021-01-09 08:14] #23 closed

[2021-01-13 13:41] sikaiser commented on #18
https://dontkillmyapp.com/apidoc is a pretty good resource for this. There's even a library that can be used to display device specific info directly within the app.

The autostart permission is also handled differently on different OSes. There's no one size fits all solution that you can implement as a dev.

[2021-02-05 20:54] Jese44 opened #25 "Possible to show next alarm in HA card?"
Hey, so I just got the hassalarm installed and I'd like to see my next alarm in a card in HA card, is it possible? if yes, how?
"Next alarm: tommorow OR mon,tue,wed..... at 00:00"

[2021-02-05 21:33] Jese44 commented on #25
Whoops, restarting did the thing and there was entity for next alarm. my bad.... Sorry for inconvenience.
BUT is it possible to show the time in the card in DD:MM:YYY? and if I have alarm for tommorow, can it somehow show it like "Next scheduled alarm: Tommorow @ 12:00" instead of "2021-02-08, 12:00" (Tommorow, mon,tue,wed......)

[2021-02-06 17:41] Johboh commented on #25
@Jese44 this is more of a generic "how to represent an input_datetime in a card" question and is better suited for the home assistant forum. I don't know the answer to this 😊.

[2021-03-02 07:38] #25 closed

[2021-04-15 22:00] stortoaranci opened #26 "crash if Google Alarm Clock is usd on huawei ANE-LX1"
i'm not able to submit an alarm scheduled if the schedule comes from google alarm clock app. when i tap the homeassalarm's icon the app close immediately but it is still running.
the only way to interact with the application is to disable the scheduled alarms in google alarm clock.

let me know what can i do to help in solving the issue

[2021-04-16 13:18] Johboh commented on #26
@stortoaranci hey!
Yes I can see in the crash logs that its crashing on startup. I will investigate and try provide a fix.

[2021-04-16 13:46] Johboh commented on #26
@stortoaranci I have fixed this now and pushed a new version, 1.19, and it should propagate in to the Play Store soon.
Thanks for reporting!

[2021-04-16 19:50] stortoaranci commented on #26
thank you very much. now it works like a charm

[2021-04-17 04:27] #26 closed

[2022-02-24 11:17] fusionstream opened #28 "Feature Request: History of alarms"
Hi. A history of alarms would be cool; even if only 1.

I ask this because I'm hunting down an errant app that seems to be creating then immediately deleting an alarm.

A bit of backstory; I switched to this app after facing the same issue using the official Home Assistant app (where I have an automation that works with the Next Alarm sensor)

[2022-02-27 15:55] Johboh commented on #28
Hi!
I can add a history view.

//Johan

[2022-02-28 03:11] fusionstream commented on #28
Thanks!

A bit more news. While waiting I did a bit of tinkering with Node Red. Unfortunately, I discovered my package that is setting the alarm is "Unknown".

Will await the next release! Thank you!

[2022-03-04 14:56] Johboh commented on #28
@fusionstream This is now implemented and a new version (1.20) has been published to Google Play Store. It might take some hours before it gets verified and propagates.

//Johan

[2022-03-04 15:08] fusionstream commented on #28
Awesome. Many thanks!

[2022-06-02 07:20] pachi81 opened #29 "Alarm has changed before automation can be triggered"
Hi,
I´m still testing hassalarm on Samsung S10E and the next alarm value is triggered correct.
I´m using an automation based on your example, but if the alarm is triggered on my phone, the next_alarm is set to the next one, immediately.
These seems to happen so fast, that the automation is not triggered...
Can you add some delay or do you have any idea, how can I solve the problem?
Thank you!

Reg

[2022-06-02 13:51] Johboh commented on #29
I will look into it!

[2022-06-09 12:02] pachi81 commented on #29
Except the first call, the automation runs well at moment.
But I think a little delay (1-5 seconds) should not be a problem!?

[2022-06-09 15:12] Johboh commented on #29
Yes I will look into this this weekend.

[2022-06-10 18:01] Johboh commented on #29
@pachi81 I have added a delay now and uploaded a new version. Update to latest on Google play (it could take a couple of hours for the release to propagate). Let me know if it works!

[2022-06-10 19:24] pachi81 commented on #29
Hi @Johboh,

thank you very much! The App is still present and it seems to work!
History of the App and HA shows 5s delay.
The Automation will be triggered on monday the next time.
Great work! Thank you for your support!

Regards, Michael

[2022-06-10 19:24] #29 closed

[2022-06-16 21:31] pachi81 commented on #29
After some days testing, it works like expected!
I also add a notification with the current value of the next_alarm entity, which was before already the next alert and now it is the current one triggering the automation.
Perfect! Great work! Thank you very much!!!

[2022-06-17 06:23] Johboh commented on #29
Great to hear!